!!!5
html
  head
    meta(charset="utf-8")
    block title
      title Pushberry
    link(rel="stylesheet", type="text/css", href="bootstrap-3.0.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="bootstrap-3.0.0/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", type="text/css", href="master.css")
    block scripts
  body
    section.container
      block content
      footer
        small Pushberry &copy; 2013.